= render 'shared/header'

:javascript
  Settings = {
    stripePublishableKey: '#{Rails.application.secrets['STRIPE_PUBLISHABLE_KEY']}',
    userEmailAddress: '#{current_user.email_address}'
  };

.repo-listing{ 'repo-list' => '' }
= render 'preload_template', template: 'repo_list'
