development:
  secret_key_base: ff8f78253a109f58634bf348a84fdc10bdd3a02bb1322126e8e8bb3aea2d3b5db208eb2831ee68c17593b10d99f66bec3402ceb2b4e7f5f7af8b49ef9c946777

  # used for gitlab
  gitlab:
    base_url: 'http://gitlab.xxx.com/api/v3' # gitlab api url
    main_username: xxx          # used for own project, must be owner of projects which you want to review
    main_private_token: xxx    # private token for main_username, used to complete mostly operation of project
    comment_username: xxx       # used only for add comment to project when have violations
    comment_private_token: xxx  # comment_username private token

  redis_url: "http://localhost:6379"    # redis url config, default is localhost and 6379
  hook_base_url: 'http://test.com'      # gitlab hook base url, need avaliable by your gitlab server

  active_repos:
    - 'path_with_namespace/of/project'  # eg: lianxinzhu/smart-lion-backend'

test:
  secret_key_base: ff8f78253a109f58634bf348a84fdc10bdd3a02bb1322126e8e8bb3aea2d3b5db208eb2831ee68c17593b10d99f66bec3402ceb2b4e7f5f7af8b49ef9c946777

  # used for gitlab
  gitlab:
    base_url: 'http://gitlab.xxx.com/api/v3' # gitlab api url
    main_username: xxx          # used for contain project, main owner projects need to review
    main_private_token: xxxx    # private token for main_username, used to get information of project
    comment_username: xxx       # used for only comment to project when have violations
    comment_private_token: xxx  # comment_username private token

  redis_url: "http://localhost:6379"    # redis url config, default is localhost and 6379
  hook_base_url: 'http://test.com'      # config gitlab hook base url, need avaliable by your gitlab server

  active_repos:
    - 'path_with_namespace/of/project'  # eg: lianxinzhu/smart-lion-backend'

production:
  secret_key_base:

  # used for gitlab
  gitlab:
    base_url: 'http://gitlab.xxx.com/api/v3' # gitlab api url
    main_username: xxx          # used for own project, must be owner of projects which you want to review
    main_private_token: xxxx    # private token for main_username, used to complete mostly operation of project
    comment_username: xxx       # used only for add comment to project when have violations
    comment_private_token: xxx  # comment_username private token

  redis_url: "http://localhost:6379"    # redis url config, default is localhost and 6379
  hook_base_url: 'http://test.com'      # gitlab hook base url, need avaliable by your gitlab server

  active_repos:
    - 'path_with_namespace/of/project'  # eg: lianxinzhu/smart-lion-backend'

